

.navbar {
  position: relative;
  min-height: 10px;
  margin-bottom: -5px;
  margin-top: 0px;
  border: 1px solid transparent;
  border-radius: 10%
}


.jumbotron{
  position: relative;
  top: -75px;
  height: 200px;
}

.wrap{
  width: 10%;
  position: absolute;
  top: 85%;
  left: 30%;
  transform: translate(-150%, -10%);
}

.button {
  position: relative;
  background-color: #F0F8FF;
  border: none;
  // font
  color: black;
  padding: 1px 2px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 10%;
  // border: 2px solid blue;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  font-size: 14px;
  transition-duration: 0.4s;
}

.button:after {
  content: "";
  background: #f#F0F8FF;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.button:hover {
  background-color: #6495ED; /* Green */
  color: white;
}

body {
  // grey
  background-color: white;
  // font
  color: #3d0c02;
  margin: 33px;
  background-image: url("searching5.jpg");
  background-size: cover;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 18px;
  line-height: 30px; }

  img {
    // filter: grayscale(100%);
  }

  pre {
    // orange
    background-color: blue;
    padding: 10px;
    font-size: 11px; }

    a {
      color: blue; }

      a:visited {
        color: #1e90ff; }

        a:hover {
          color: white;
          background-color: #1e90ff; }

          th {
            padding-bottom: 5px; }

            td {
              padding: 0 5px 7px; }

              div.field,
              div.actions {
                margin-bottom: 10px; }

                #notice {
                  color: blue; }

                  .field_with_errors {
                    padding: 2px;
                    background-color: red;
                    display: table; }

                    #error_explanation {
                      width: 450px;
                      border: 2px solid red;
                      padding: 7px 7px 0;
                      margin-bottom: 20px;
                      background-color: blue; }

                      #error_explanation h2 {
                        text-align: left;
                        font-weight: bold;
                        padding: 5px 5px 5px 15px;
                        font-size: 12px;
                        margin: -7px -7px 0;
                        background-color: blue;
                        color: blue; }

                        #error_explanation ul li {
                          font-size: 12px;
                          list-style: square; }

                          label {
                            display: block; }
